body{
    background-color: #A67F8E;
    padding: 0;
    margin: 0;
}

.main{
    width: 80vw;
    margin: 0 10vw 0 10vw;
}


header{
    background-color: #6c534e;
    position: sticky;
}

nav{ 
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.nav-btn{
    background-color: #6c534e;
    border: 1px solid #B8D8BA;
    color: #B8D8BA;
    border-radius: 10px;
}

.nav-btn:hover{
    background-color: #B8D8BA;
    color: #6c534e;
}

.hero{
    background-color: #C89FA3;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.action-btn{
    display: inline-block;
    background-color: #B8D8BA;
    width: 10vw;
    height: 5vh;
    border-radius: 10px;
    text-align: center;
}

.action-btn:hover{
    background-color: #B8D8BA;
    color: green;
}

.forms{
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}